:root {
    --text-color: #757575;
    --second-black: #212121;
    --hero-back-color: #2F303A;
    --accent-color: #2196F3;
    --main-black: #000000;
    --main-white: #FFFFFF;
    --team-back-color: #F5F4FA;
    --footer-back-color: #2F303A;
    --footer-mail-tel: rgba(255, 255, 255, 0.6);


}

body {
    background-color: var(--main-white);
    color: var(--second-black);

    font-family: Roboto, sans-serif;
}
.hidden {
    display: none;
}
.link {
    text-decoration: none;
}
.list {
    list-style: none;
}

/* logo */
.logo {
    color: var(--main-black);
    font-family: Raleway, sans-serif;
    letter-spacing: 0.03em;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}
.logo-web {
    color: var(--accent-color);
}

/* header */

.header-background {
    color: var(--main-white);
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}
.site-nav .link {
    color: var(--second-black);
    letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}
.site-nav .link.current {
    color: var(--accent-color);
}
.mail-nav .link {
    color: var(--text-color);
}

.mail-nav .link:hover,
.mail-nav .link:focus {
    color: var(--accent-color);
    letter-spacing: 0.02em;
}

/* hero */
.hero {
    background-color: var(--hero-back-color);
   
}
.hero-title {
    color: var(--main-white);
    letter-spacing: 0.06em;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
}
/* button */
.button {
    color: var(--main-white);
    background-color: var(--accent-color);
}

.button.primary {
    background-color: var(--accent-color);
    color: var(--main-white);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
}
/* features */
.section-title {
    color: var(--second-black);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
}

.idea-list .title {
    color: var(--second-black);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.idea-list .text {
    color: var(--text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
/* what are we doing */


/* our team */
.team-list .title {
    color: var(--second-black);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}
.team-list .text {
    color: var(--text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}

/* footer */
.footer-main {
    background-color: var(--footer-back-color);
}
.footer-logo {
    color: var(--main-white);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.footer-list {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.footer-address {
    color: var(--main-white);
    text-decoration: none;
}
.footer.link {
    color: var(--footer-mail-tel);
    letter-spacing: 0.03em;
}
.footer.link:hover,
.footer.link:focus {
    color: var(--accent-color);
}
/* filters */

.button.second {
    color: var(--second-black);
    background-color: var(--main-white);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
}
.button.second:hover,
.button.second:focus {
    background-color: var(--accent-color);
    color: var(--main-white);
}
.examples {
    list-style: none;
}
.examples.title {
    color: var(--second-black);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.examples.text {
    color: var(--text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
}



